body {
  background-color: #f3f4fa;
}

.btn {
  background-color: #6979f8;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.activeText {
  line-height: 20px;
  background-color: #43c06d;
  border-radius: 15px;
  margin-left: 8px;
  padding: 2px 8px;
  color: #fff;
  max-height: 24px;
  
}
.inactiveText {
  line-height: 20px;
  background-color: #5f82ad;
  border-radius: 15px;
  margin-left: 8px;
  padding: 2px 8px;
  color: #fff;
  max-height: 24px;
}

